<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/community_css/write.css" />
  </head>
<th:block layout:fragment="content">
    <div class="main-text">write</div>
    <div class="form">
      <form>
        <div class="write">
          <span class="g">글쓰기</span>
          <div>나만의 계획과 습관을.</div>
          <div>모두와 나누어 보세요.</div>
        </div>
        <div class="title">Title</div>
        <input
          id="title"
          type="text"
          placeholder=" 제목을 입력하세요"
          name="title"
          class="t"
          required
        />
        <div class="header">Comment</div>
        <textarea
          id="data"
          placeholder="내용을 입력하세요"
          name="detail"
          class="data"
          required
        >
        </textarea>

        <div><input type="submit" class="submit" value="등록" /></div>
      </form>
    </div>
</th:block>
</html>
